[user]
    name = Kyle Rader
    email = kylewrader@gmail.com
    signingkey = FB5C898DD18B6E1B
[gpg]
	program = gpg2
[commit]
	gpgsign = true

[alias]
    # pretty branch graphing http://stackoverflow.com/a/9074343
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(bold yellow)%d%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %G?:%GS %an%C(reset)'
    l = !"git lg"

    # alias suggestions from http://gitimmersion.com/
    type = cat-file -t
    dump = cat-file -p

    co = checkout
    cs = commit -S
    ci = commit -S

    st = status
    br = branch

    # alias suggestions from https://github.com/tiimgreen/github-cheat-sheet#git-configurations
    tags = tag -l
    branches = branch -a
    remotes = remote -v

    # alias suggestions from Geoff Shannon (RadicalZephyr)
    last = log -n1
    diffb4 = diff HEAD~ HEAD
    ignore = !echo >> .gitignore
    pack = !git archive -o $(basename $(pwd))-$(git tag | sort -rV | head -n1).zip HEAD
    # other aliases
    nuke = reset --hard HEAD

[core]
    editor = code --wait
    autocrlf = false
    safecrlf = true

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[push]
    default = simple

[credential]
    helper = cache --timeout=3600

[remote "origin"]
	prune = true
