[user]
  name = Kyle Rader
  email = kyle@kylerader.ninja
  signingkey = B02130A2

[alias]
    # pretty branch graphing http://stackoverflow.com/a/9074343
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset) %G?' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %G?' --all
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(bold yellow)%d%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %G?' --all
    l = !"git lg"
    # alias suggestions from http://gitimmersion.com/
    type = cat-file -t
    dump = cat-file -p
    co = checkout
    cs = commit -S
    ci = commit
    st = !"clear && git status -sb"
    br = branch
    # alias suggestions from https://github.com/tiimgreen/github-cheat-sheet#git-configurations
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    # alias suggestions from Geoff Shannon (RadicalZephyr)
    last = log -n1
    diffb4 = diff HEAD~ HEAD
    ignore = !echo >> .gitignore
    pack = !git archive -o $(basename $(pwd))-$(git tag | sort -rV | head -n1).zip HEAD
    # other aliases
    nuke = reset --hard HEAD
    wc = whatchanged -p --oneline
    # ASCII art from http://ascii.co.uk/art/jellyfish

[core]
    editor = vim
    autocrlf = input
    safecrlf = true
    # excludesfile = ~/.nunathat

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[push]
    default = simple

[credential]
    helper = cache --timeout=3600

[remote "origin"]
	prune = true

[gpg]
	program = gpg2
